/* ===================
MAIN ELEMENTS
=================== */

body {
    font-family: 'Circularstd', 'Avenir', 'Lato-light', sans-serif;
    width: 99%;
    background-color: white;
}

h1 {
    font-size: 60px;
    margin: 0;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
}

a {
    color: black;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
}

/* ===================
WRAPPERS
=================== */

.container {
    background-color: white;
    margin-right: auto;
    margin-left: auto;
}

section {
    margin-top: 32px;
    margin-right: auto;
    margin-left: auto;
}

.nav {
    display: flex;
    margin-bottom: 15vh;
    width: 75vw;
}

.nav div:last-child {
    margin-left: auto;
}

.hero {
    margin-bottom: 10vh;
    width: 75vw;
}

.hero * {
    margin-right: 10vw;
}

#about {
    display: flex;
    width: 100%;
    margin-top: 0;
}

#about img {
    object-fit: cover;
    width: 40%;
    height: 40%;
    margin: 0 32px;
}

#about * {
    margin-top: 0;
    margin-right: 32px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5vh;
    width: 90%;
}

.projects:hover #more-projects {
    opacity: 1;
    transform: translateX(-5px);
    transition: all 200ms;
}

.footer-social-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: none;
    margin: 5vh auto;
}

/* ===================
COMPONENTS
=================== */

#main-nav a {
    margin-left: 2vw;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    transition: all 200ms;
}

#main-nav a:hover {
    border-bottom: 2px solid black;
    padding-bottom: 0px;
    transition: all 200ms;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 16px;
    height: 65vh;
    width: 17vw;
    min-height: 300px;
    min-width: 220px;
    border-radius: 3px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
}

.card .card-img {
    display: flex;
    width: 100%;
    height: 45%;
    margin: 0;
    background: white;
}

.card-img img {
    margin: auto;
    height: 40%;
}

.card-content {
    display: flex;
    flex-direction: column;
    padding: 25px;
    background: rgba(0, 0, 0, 0.02);
    flex: 1;
}

.card .title {
    z-index: 2;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    transform: translateZ(20px);
}

.card .description {
    justify-content: flex-end;
    font-weight: 350;
    font-size: 18px;
    opacity: 0.6;
    transform: translateZ(20px);
}

.card .credits {
    justify-content: flex-end;
    margin-top: auto;
    font-weight: 350;
    font-size: 14px;
    opacity: 0.6;
    transform: translateZ(20px);
    color: rgba(0, 0, 0, 0.6);
    transition: all 200ms;
}

.card .credits:hover {
    color: rgba(0, 0, 0, 1);
    transition: all 200ms;
}

#blueprint {
    background: url('https://cl.ly/6183ddfc00e5');
}

#simp {
    background-position: 50px 0px;
}

#more-projects {
    opacity: 0;
    display: block;
    position: absolute;
    right: 3%;
    z-index: 3;
    overflow: visible;
    font-size: 12px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 8px 16px;
    border-radius: 1.75rem;
    transition: all 200ms;
}

p>a:hover {
    color: #d9d9d9;
    text-decoration: underline;
}

.footer-social-icons>a {
    align-self: center;
    font-size: 16px;
    margin-top: 8px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    transition: all 200ms;
}

.footer-social-icons>a:hover {
    color: rgba(0, 0, 0, 1);
    transition: all 200ms;
}

.social-icons {
    display: flex;
    justify-content: center;
    padding: none;
}

.social-icons i {
    color: rgba(0, 0, 0, 0.6);
    margin: 8px;
    font-size: 24px;
}

.fa-facebook {
    -o-transition: 200ms;
    -ms-transition: 200ms;
    -moz-transition: 200ms;
    -webkit-transition: 200ms;
    transition: 200ms;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-twitter {
    -o-transition: 200ms;
    -ms-transition: 200ms;
    -moz-transition: 200ms;
    -webkit-transition: 200ms;
    transition: 200ms;
}

.fa-twitter:hover {
    color: #00aced;
}

.fa-github {
    -o-transition: 200ms;
    -ms-transition: 200ms;
    -moz-transition: 200ms;
    -webkit-transition: 200ms;
    transition: 200ms;
}

.fa-github:hover {
    color: #6e5494;
}

.fa-soundcloud {
    -o-transition: 200ms;
    -ms-transition: 200ms;
    -moz-transition: 200ms;
    -webkit-transition: 200ms;
    transition: 200ms;
}

.fa-soundcloud:hover {
    color: #ff7700;
}

.fa-linkedin {
    -o-transition: 200ms;
    -ms-transition: 200ms;
    -moz-transition: 200ms;
    -webkit-transition: 200ms;
    transition: 200ms;
}

.fa-linkedin:hover {
    color: #0077b5;
}