/* ===================
MAIN ELEMENTS
=================== */

body {
    font-family: 'Circularstd', 'Avenir', 'Lato-light', sans-serif;
    width: 99%;
    background-color: #EFF7F8;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
}

a {
    color: black;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
}

/* ===================
WRAPPERS
=================== */

.container {
    background-color: #EFF7F8;
    width: 75vw;
    margin-right: auto;
    margin-left: auto;
}

section {
    margin-top: 32px;
}

.nav {
    display: flex;
    margin-bottom: 15vh;
}

.nav div:last-child {
    margin-left: auto;
}

.hero {
    width: 69%;
    margin-bottom: 10vh;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-social-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: none;
    margin-bottom: 40px;
}

/* ===================
COMPONENTS
=================== */

#main-nav a {
    margin-left: 2vw;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    transition: all 200ms;
}

#main-nav a:hover {
    border-bottom: 2px solid black;
    padding-bottom: 0px;
    transition: all 200ms;
}

.card {
    position: relative;
    margin: 16px;
    padding: 40px;
    height: 30vh;
    width: 10vw;
    min-height: 25vh;
    min-width: 10vw;
    transform-style: preserve-3d;
}

.card .title {
    position: relative;
    line-height: 24px;
    z-index: 2;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.05em;
    transform: translateZ(20px);
}

.card .credits {
    font-size: 12px;
    letter-spacing: 0.05em;
    opacity: 0.6;
    transform: translateZ(20px);
}

.card .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    background: None;
    background-size: cover;
    background-position: center;
}

#blueprint {
    background: url('../images/blueprint.png');
}

#simp {
    background-position: 50px 0px;
}

p>a:hover {
    color: #d9d9d9;
    text-decoration: underline;
}

.footer-social-icons>a {
    align-self: center;
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    margin-top: 8px;
    text-decoration: none;
}

.social-icons {
    display: flex;
    justify-content: center;
    padding: none;
}

.social-icons i {
    color: rgba(0, 0, 0, 0.6);
    margin: 8px;
    font-size: 24px;
}

.fa-facebook {
    -o-transition: 200ms;
    -ms-transition: 200ms;
    -moz-transition: 200ms;
    -webkit-transition: 200ms;
    transition: 200ms;
}

.fa-facebook:hover {
    color: #3b5998;
}

.fa-twitter {
    -o-transition: 200ms;
    -ms-transition: 200ms;
    -moz-transition: 200ms;
    -webkit-transition: 200ms;
    transition: 200ms;
}

.fa-twitter:hover {
    color: #00aced;
}

.fa-github {
    -o-transition: 200ms;
    -ms-transition: 200ms;
    -moz-transition: 200ms;
    -webkit-transition: 200ms;
    transition: 200ms;
}

.fa-github:hover {
    color: #6e5494;
}

.fa-soundcloud {
    -o-transition: 200ms;
    -ms-transition: 200ms;
    -moz-transition: 200ms;
    -webkit-transition: 200ms;
    transition: 200ms;
}

.fa-soundcloud:hover {
    color: #ff7700;
}

.fa-linkedin {
    -o-transition: 200ms;
    -ms-transition: 200ms;
    -moz-transition: 200ms;
    -webkit-transition: 200ms;
    transition: 200ms;
}

.fa-linkedin:hover {
    color: #0077b5;
}