/* ===================
MAIN ELEMENTS
=================== */

body {
    font-family: 'Circularstd', 'Avenir', 'Lato-light', sans-serif;
    width: 100%;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 32px;
}

a {
    font-size: 32px;
    text-decoration: none;
}

/* ===================
WRAPPERS
=================== */

.container {
    width: 80%;
    background: #FFF;
    margin-right: auto;
    margin-left: auto;
}

section {
    margin-top: 32px;
}

.hero {
    width: 65%;
}

.projects {
    display: flex;
    flex-wrap: wrap;
}


/* ===================
COMPONENTS
=================== */

.card {
    position: relative;
    margin: 16px;
    padding: 40px;
    height: 30vh;
    width: 15vw;
    max-height: 40vh;
    transform-style: preserve-3d;
}

.card .title {
    position: relative;
    z-index: 2;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.05em;
    transform: translateZ(20px);
}

.card .credits {
    font-size: 12px;
    letter-spacing: 0.05em;
    opacity: 0.6;
    transform: translateZ(20px);
}

.card .bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('https://cdn.dribbble.com/users/25514/screenshots/4760253/descript_sketches_drawn_grid.png');
    background-size: cover;
    background-position: center;
}

p>a:hover {
    color: #d9d9d9;
    text-decoration: underline;
}

.footer-social-icons {
    margin-top: 30px;
    align-items: left;
    align-content: left;
}

.social-icon {
    color: #fff;
}

ul.social-icons {
    margin-top: 10px;
}

.social-icons li {
    vertical-align: top;
    align-items: left;
    display: inline;
    height: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.fa-facebook {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-facebook:hover {
    background-color: #3b5998;
    color: white;
}

.fa-twitter {
    padding: 10px 11px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-twitter:hover {
    background-color: #00aced;
    color: white;
}

.fa-github {
    padding: 10px 12px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-github:hover {
    background-color: #6e5494;
    color: white;
}

.fa-soundcloud {
    padding: 10px 9px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-soundcloud:hover {
    background-color: #ff7700;
    color: white;
}

.fa-linkedin {
    padding: 10px 13px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-linkedin:hover {
    background-color: #0077b5;
    color: white;
}